/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: 'Open Sans', sans-serif;
}

.body {
    margin: 0 auto;
}

.button {
    padding: 5px 10px;
    border: 1px solid #0061FF;
    background-color: #0061FF;
    color: white;
    text-decoration: none;
}

/* 
    HEADER
*/

.header-top-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.header-nav-left li, .header-nav-right li {
    display: inline-block;
    vertical-align: middle;
}

li a {
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    text-decoration: none;
}

.logo img {
    height: 20px;
}

.header-background-bottom {
    background-color: #B4D0E7;
}

.header-bottom-container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    padding-top: 30px;
}

.jumbotron {
    display: flex;
}

header aside {
    width: 40%;
    padding-top: 30px;
}

header aside  * {
    margin-top: 30px;
}

header main {
    width: 60%;
}

main img {
    width: 100%;
}

.fa-arrow-down {
    margin-top: 60px;
    font-size: 4em;
    font-weight: bold;
}

.jumbo-img {
    position: relative;
}

.jumbo-img {
    top: 60px;
}

/* 
    MAIN
*/

.background-container-small {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
}

.background-container-small > * {
    margin: 30px 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

label:first-of-type {
    padding-right: 50px;
}

.my-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-col {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    
}

.my-col > * {
    padding: 5px 10px;
    align-content: stretch;
}

.typology {
    text-align: center;
    width: 100%;
}

.typology, .feature, .enterprise-info {
    border: 1px solid #D3D3D6;
}

.feature {
    height: 100%;
    width: 100%;
}

.feature p:first-of-type {
    color: #868174;
    font-style: italic;
    margin-bottom: 30px;
}

.fa-li {
    position: relative;
    right: 5px;
}
.fa-ul.user {
    list-style-image: url(../img/user-solid.svg);
}
.fa-ul.folder {
    list-style-image: url(../img/folder-solid.svg);
}
.fa-ul.nodes{
    list-style-image: url(../img/share-nodes-solid.svg) ;
}

.fa-ul.check {
    list-style-image: url(../img/check-solid.svg);
}

li::marker {
    font-size: 2em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.purchase {
    margin: 30px 0;
}

.purchase span {
    margin-right: 5px;
}

.hr-col {
    width: 20%;
    height: 1px;
}

.plan {
    list-style: none;
    margin: 30px 0;
}

.my-col.large {
    width: 100%;
}

.my-col.large main {
    width: 70%;
}

.my-col.large aside {
    width: 30%
}

.enterprise-info {
    display: flex;
    flex-wrap: wrap;
}

.enterprise-info * {
    padding: 10px 10px;
}

.enterprise-info main p {
    margin-top: 50px;
}

.button-container-enterprise {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.my-section {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.my-section main {
    width: 60%;
}

.my-section aside {
    padding: 30px;
    width: 40%;
}

.button-section {
    margin-top: 30px;
}

.button.transparent {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 10px;
}

.textbox * {
    padding-left: 10px;
    padding-bottom: 10px;
}
/* 
    FOOTER
*/

.footer-background {
    background-color: black;  
}

.footer-top-container{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.footer-top-container > * {
    margin-top: 30px;
    margin-bottom: 30px;   
}


.footer-col {
    display: flex;
    justify-content: space-between;
}

.footer-col section {
    width:calc(100% / 5)
}

.footer-top-nav {
    padding: 60px 0;
    line-height: 30px;
}

.footer-top-nav li {
    display: block;
}

.footer-bottom-container {
    max-width: 1200px;
    margin: 0 auto;
    color: #868174; 
}

.footer-bottom > * {
    margin: 30px 0;
}

hr {
    width: 15%;
    background-color: #868174;
    height: 2px;
    border:#868174;
}

.fa-earth-americas {
    margin-right: 4px;
}